[defaults]
inventory = ./ansible/inventories/production/hosts.ini
roles_path = ./ansible/roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
forks = 50
timeout = 30
host_key_checking = False
retry_files_enabled = False
display_skipped_hosts = False
display_ok_hosts = True
deprecation_warnings = True
interpreter_python = auto_silent

[callback_default]
result_format = yaml
display_failed_stderr = True

[persistent_connection]
connect_timeout = 60
command_timeout = 180

[winrm]
connection_timeout = 180
